<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>flashX</title>
    <link href="../static/css/output.css" rel="stylesheet">
</head>

<body class="bg-[url('./back.png')] bg-no-repeat bg-cover">
<header class="pt-[5.5rem]">
    <div class="min-w-96  flex justify-between items-center px-[200px]  text-white">
        <span class="text-4xl"><a class="text-[#d97706] font-bold" href="/">flashX</a></span>
        <nav id="nav">
            <ul class="text-2xl flex space-x-8 justify-center  ">
                <li><a class="hover:text-slate-400 pr-10 " href="/create">Create</a></li>
                <li><a class="hover:text-slate-400 pr-10 " href="/about">About Us</a></li>
<!--                <li><a class="hover:text-slate-400 pr-10 " href="/login">Login</a></li>-->
            </ul>
        </nav>
    </div>
    <div class="w-[85rem] container text-5xl px-[200px] pt-[10rem] text-white">
        <div class="box1">
            <p class="leading-[5rem]"><span class="text-6xl ">Hi I am <span
                    class="inline-flex text-[#be123c]">FlashX</span></span><br> I
                can
                help
                you in grasping topics quickly
                and easily
                by generating <span class="inline-flex text-yellow-600 font-bold">Quizzes</span>,<span
                        class="inline-flex text-green-500 font-bold">Flash cards</span> and <span
                        class="inline-flex text-red-500 font-bold">Summary</span>
                for you. </p>
        </div>
        <div class="flex">
            <p class="text-3xl py-10">let's create quizzes, summary or flash cards.</p>
            <button class="bg-[#d97706] ml-[7.5rem] mt-10 border-2  rounded-full w-[120px] h-10 border-white flex items-center justify-center ">
                <a class="text-3xl justify-around py-[50px]"
                   href="/create">Create</a>
            </button>
        </div>
    </div>
    <footer>
        <div class="footer bg-gray-900 text-white py-5 block absolute w-[100%] h-[100px] bottom-[-100px] left-0">
            <div class="container mx-auto text-center">
                <p>&copy; 2024 flashX. All rights reserved.</p>
                <p>Follow us on <a class="text-purple-500 hover:text-purple-300" href="#">github linkedIni X</a></p>
            </div>
        </div>
    </footer>
</header>
<!--<script src="script.js"></script>-->
</body>
</html>