<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flashX</title>
    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
<header class="pt-[5.5rem]">
    <div class="min-w-96 flex justify-between items-center px-[200px] border-2 text-gray-800">
        <span class="text-4xl"><a class="text-[#d97706] font-bold" href="/">flashX</a></span>
        <nav id="nav">
            <ul class="text-2xl flex space-x-8 justify-center  ">
                <li><a class="hover:text-slate-400 pr-10 " href="/create">Create</a></li>
                <li><a class="hover:text-slate-400 pr-10 " href="/about">About Us</a></li>
<!--                <li><a class="hover:text-slate-400 pr-10 " href="/login">Login</a></li>-->
            </ul>
        </nav>
    </div>
</header>
<div id="summary-container" class="flex mt-[5rem] text-2xl flex-wrap justify-center"></div>
<footer>
    <div class="footer bg-gray-900 text-white py-5 block relative w-[100%] h-[100px] bottom-[-300px] left-0">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 flashX. All rights reserved.</p>
            <p>Follow us on <a class="text-purple-500 hover:text-purple-300" href="#">Github Linkedin X</a></p>
        </div>
    </div>
</footer>
</body>
<script>
    function fetchAndRenderFlashcards() {
        const flashcardsContainer = document.getElementById('summary-container');

        fetch('http://localhost:8000/summarylist')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch flashcards');
                }
                return response.json();

            }) // Parse response as JSON
            .then(summaries => {
                console.log(summaries);
                summaries.forEach(summary=> {
                    const card = document.createElement('div');
                    card.classList.add('summary', 'm-2', 'p-4','border','border-grey-300','rounded-xl', 'bg-gray-200', 'w-[80rem]', 'h-auto');
                    card.innerHTML = `
                <p>${summary.point}</p>
            `;
                    flashcardsContainer.appendChild(card);
                });
            })
            .catch(error => {
                console.error('Error fetching flashcards:', error);
            });
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', fetchAndRenderFlashcards);

</script>
</html>